
body {
  margin: 0px;
}
.game-window {
  height: 90vh;
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.monster-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  width: 30vw;
  height: 10vh;
  background-color: gray;
  padding: 20px;
}

#monster-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-content {
  width: 100%;
  height: 20vh;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
}

.player-container {
  display: flex;
  justify-content: center;
  align-items: stretch; 
  width: 30%;
  background-color: gray;
  padding: 20px;
}

#player-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.controls-container {
  display: flex;
  justify-content: center;
  align-items: stretch; 
  width: auto;
  background-color: gray;
  padding: 20px;
}

#controls {
  display: flex;
  justify-content: center;
  align-items: stretch; 
  width: auto;
  background-color: gray;
  padding: 20px;
}

.log-container {
  display: flex;
  justify-content: center;
  align-items: stretch; 
  width: 30%;
  background-color: gray;
  padding: 20px; 
}

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 0.8rem;
  color: #ff0062;
  border: 1px solid #ad0505;
}

progress[value]::-webkit-progress-bar,
progress[value] {
  background-color: #b0aaaa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-color: #ad0505;
  transition: all 0.2s ease-out;
}

progress[value]::-moz-progress-bar {
  background-color: #ad0505;
  transition: all 0.2s ease-out;
}

