/* Variables */

:root {
  --background: #252b3b;
  --header: #e3d6be;
  --text: lightgray;

}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  color: #e3d6be;
}

body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  background-image: url(images/skull-texture.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  color: var(--text);
}

/* 
==========================================
               Game Window
==========================================
*/


.game-window {
  width: 100vw;
  max-width: 1260px;
  max-height: 847px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  border: 3px solid black;
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;
}

.top-content {
  display: flex;
  justify-content: space-between;
}

.monster-container {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  width: 33%;
  height: 15vh;
  background-color: var(--background);
  background-image: url(images/skull-texture.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  padding: 20px;
}


#monster-info h3 {
  margin-top: 0px;
}

#monster-info p {
  font-size: 1rem;
  margin-top: -5px;
  margin-bottom: 1px;
}

.monster-display {
  display: flex;
  justify-content: space-between;
}

/* 
==========================================
          Middle Content
==========================================
*/

.middle-content {
  display: flex;
  justify-content: space-between; /* This will push the left and right divs to the edges */
  align-items: center; /* This will vertically center the elements */
}

.middle-left {
  width: 10vw;
}

.middle-center {
  display: flex;
  justify-content: center;
  flex-grow: 1; /* This will allow the middle div to grow and take up any available space */
  width: 30vw;
  height: 30vh;
  padding: 20px 40px 20px 40px;
  font-size: 1.5rem;
  overflow: hidden;
}

/* .popup-text {
    position: absolute;
    top: 30%;
    left: 25%;
    transform: translate(-50%, -50%) rotate(-45deg);
    color: red;
    font-size: 1.8rem;
    font-weight: bold;
  } */

.middle-center li {
  margin: 8px 0px 8px 0px;
  text-align: center;
}

.middle-right {
  width: 10vw;
}

.narrative-text {
  list-style-type: none;
  padding: 0;
}

/* .inventory-btn {
  justify-self: flex-end;
}

.narrative-text {
  justify-self: center;
} */

/* 
==========================================
          Bottom Content
==========================================
*/

.bottom-content {
  width: 100%;
  height: 25%;
  border: 2px solid black;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.controls-container,
.log-container {
  flex: 1;
  width: 33%;
  background-color: var(--background);
  background-image: url(images/skull-texture.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  padding: 10px;

}

.player-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 33%;
  background-color: var(--background);
  background-image: url(images/skull-texture.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  padding-left: 5px;
  cursor: pointer;
}


.controls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
  background-image: url(images/skull-texture.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;  padding: 6px;
  
}

.attack {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 33%;
}

.attack button {
  width: 100%;
  height: 100%;
}



#specialCountdown {
  display: block;
  font-size: .6rem;
}


.other-buttons {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 66%;
}

.other-buttons button {
  width: 50%;
  height: 50%;
}


.log-container h3 {
  margin-top: 0px;
}

/* Log */
.log-container {
  overflow: auto;
  cursor: pointer;
}

.log-container h3 {
  margin-bottom: 2px;
  font-size: 1.0rem;
}

.log-container ul {
  font-size: 0.8rem;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
.log-container ul li {
  padding: 0px;
  margin: 0px;
  border-bottom: 1px dashed black;
  padding-top: 6px;
  padding-bottom: 6px;
}

/* 
==========================================
             Health Bars
==========================================
*/

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 10%; 
  color: #ff0062;
  border: 1px solid #ad0505;
  border-radius: 10px;
}

progress[value]::-webkit-progress-bar,
progress[value] {
  background-color: #b0aaaa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  
}

progress[value]::-webkit-progress-value {
  background-color: #ad0505;
  transition: all 0.2s ease-out;
}

progress[value]::-moz-progress-bar {
  background-color: #ad0505;
  transition: all 0.2s ease-out;
}

/* 
==========================================
                 Modals
==========================================
*/

.modal {
  position: fixed; /* Use fixed position */
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.hero-modal-content,
.level-up-modal-content,
.hero-stats-modal-content,
.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  gap: 0px;
  align-items:flex-start;
  background-color: var(--background);
  background-image: url(images/skull-texture.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  margin: 16vh auto; /*?!ADJUST FOR MOBILE?!*/
  border: 3px solid #888;
  border-radius: 10px;
  width: 60%;
  height: 56%;
  overflow: auto;
}

.modal-content button {
  width: 150px;
  height: 50px;
}


/* Start Game Modal */
#startGameModal {
  display: none;
}

/* Hero Choice Modal */
#heroChoiceModal {
  display: none;
}

/* Catacomb Entrance Modal */
#catacombEntranceModal {
  display: none;
}

/* Room Summary Modal */
#roomSummaryModal {
  display: none;
}

/* Continue Button Modal */
#continueButtonModal {
  display: none;
}

.continue-btn {
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  background-color: rgba(0,0,0,0.4);
}


.continue-btn button {
  width: 150px;
  height: 50px;
}

/* Event Modal */
#eventModal {
  display: none;
}

.event {
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  background-color: rgba(0,0,0,0.4);
}

.event-content button {
  width: 150px;
  height: 50px;
}

/* Inventory Modal */
#inventoryModal {
  display: none;
}

.inventory-modal-content {
  display: flex;
  flex-direction: column;
  gap: 0px;
  background-color: var(--background);
  margin: 12vh auto; /*?!ADJUST FOR MOBILE?!*/
  border: 3px solid #888;
  border-radius: 10px;
  width: 80%;
  height: 70%;
  overflow: auto;
}

.inventory-modal-content h2 {
  margin: 1vh;
  justify-self: center;
}

.inventory-modal { /*DELETE IF NEEDED */
  position: fixed; /* Use fixed position */
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.inventory-container {
  height: 100%;
  width: 100%;
  display: flex;
}

.inventory-header {
  display: grid;
  grid-template-columns: 1fr auto; /* One column takes up remaining space, and the other is auto (width of its content) */
  align-items: center;
}

.inventory-header h2 {
  text-align: center; /* Center the text */
  grid-column: 1;
}

.inventory-header button {
  justify-self: end; /* Align the button to the end (right) */
  grid-column: 2;
}

.inventory-left-side {
  width: 30%
}

.attuned-box {
  text-align: center;
  border: 2px black solid;
  height: 100%;
}

.attuned-box h4 {
  margin: 1vh;
}

.slots {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid red;
  margin: 10px;
  height: 90%;
}

.slots div {
  border: 1px solid red;
  height: 18%;
  width: 50%;
}

.inventory-right-side {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.magic-items-box {
  text-align: left;
  height: 50%;
  border: 2px black solid;
}

.magic-items-box h4 {
  margin: 1vh;
}

.magic-items {
  border: 1px solid red;
  margin: 10px;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10vw, 1fr)); /* Set the minimum column width to 150px, but allow them to grow */
  grid-row-gap: 1vh; 
  grid-column-gap: 1vw;
  
  overflow: auto;
}

.magic-items div {
  aspect-ratio: 1;
  min-width: 50px;
  min-height: 50px;
  /* display: flex; */
  flex-direction: column-reverse;
  margin: 10px;
  border: 1px solid red;
  box-sizing: border-box; 
  overflow: hidden;
}

.magic-items p {
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-size: 0.8rem;
}

.magic-items button {
  height: 95%;
}

.consumables-box {
  text-align: left;
  height: 50%;
  border: 2px black solid;
}

.consumables {
  border: 1px solid red;
  margin: 10px;
  height: 80%;
}

.consumables-box h4 {
  margin: 1vh;
}

.tooltip {
  position: relative;
  cursor: pointer;
}

.tooltip .tooltipText {
  visibility: hidden;
  width: 120px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 2;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

/* Level Up Modal */
#levelUpModal {
  display: none;
}

.level-up-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  height: 20%;
}

.level-up-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: -40px;
  gap: 10px;
  height: 80%;
  width: 100%;
}

.level-up-modal-content h2 {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.level-up-modal-content p {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.attributes-container,
.abilities-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.attributes-container div,
.abilities-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.attributes-container button,
.abilities-container button {
  height: 15vh;
  width: 15vw;
  font-family: monospace;
  font-size: 2rem;
}

/* Log Modal */
#logModal {
  display: none;
}

.log-modal-list {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  font-size: 1.2rem;
}

.log-container-modal h3 {
  margin: 0px;
  padding: 0px 0px 5px 0px;
}

.log-modal-list li {
  border-bottom: 1px dashed black;
  padding: 5px 0px 5px 0px
}

/* Hero Stats Modal */
#heroStatsModal {
  display: none;
}

