
body {
  margin: 0px;
}

/* 
========================
     Game Window
========================
*/ 

.game-window {
  height: 90vh;
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.monster-container {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  width: 33%;
  height: 15vh;
  background-color: gray;
  padding: 20px;
}

#monster-info {
  width: 100%;
}

#monster-info h3 {
  margin-top: 0px;
}

#monster-info p {
  font-size: 1rem;
  margin-top: -5px;
  margin-bottom: 1px;
}


.bottom-content {
  width: 100%;
  height: 20vh;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.player-container,
.controls-container,
.log-container {
  flex: 1;
  max-width: 33%;
  background-color: gray;
  padding: 20px;
}

#player-info {
  display: flex;
  flex-direction: column;
}

#player-info h3 {
  margin-top: 0px;
}

#player-info p {
  font-size: 1rem;
  margin-top: -5px;
  margin-bottom: 1px;
}

.player-stats, .monster-stats {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}


.controls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;
  padding: 6px;
}


.attack {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30%;
}

.attack button {
  width: 100%;
}

#specialCountdown {
  display: block;
  font-size: .6rem;
}

#potions {
  
}

.other-buttons {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.other-buttons button {
  width:50%;
  height: 100%;
}

.log-container h3 {
  margin-top: 0px;
}


progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 0.5rem;
  color: #ff0062;
  border: 1px solid #ad0505;
  border-radius: 10px;
}

progress[value]::-webkit-progress-bar,
progress[value] {
  background-color: #b0aaaa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-color: #ad0505;
  transition: all 0.2s ease-out;
}

progress[value]::-moz-progress-bar {
  background-color: #ad0505;
  transition: all 0.2s ease-out;
}

